<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Tríptico Recrutador</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link
			rel="stylesheet"
			type="text/css"
			href="assets/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script type="text/javascript" src="js/js/bootstrap.js"></script>
		<link
			href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="assets/styles.css" />
	</head>
	<body>
		<main class="main">
			<div id="demo" class="carousel slide mx-auto" data-ride="carousel">
				<!-- Indicators -->
				<ul class="carousel-indicators">
					<li
						data-target="#demo"
						data-slide-to="0"
						class="active"
					></li>
					<li data-target="#demo" data-slide-to="1"></li>
					<li data-target="#demo" data-slide-to="2"></li>
					<li data-target="#demo" data-slide-to="3"></li>
					<li data-target="#demo" data-slide-to="4"></li>
					<li data-target="#demo" data-slide-to="5"></li>
				</ul>

				<!-- The slideshow -->
				<div class="carousel-inner mx-auto">
					<div class="carousel-item active">
						<div id="pagina1" class="paginas">
							<h1>Sistema de seguimiento "Recrutador"</h1>
							<div class="img">
								<img src="assets/img/ATS For Employers.png" />
							</div>
							<h3>Docente:</h3>
							<p>Ing. Edwin Valencia</p>
							<h3>Alumnos:</h3>
							<ul>								
								<li>Gutierrez Ponce, Jose Carlos</li>
								<li>Herrera Amezquita, Derian</li>
								<li>Mejía Rodríguez, Julio Oliver</li>
								<li>Paredes Catacora, Randi Ángel</li>
								<li>Zuñiga Silva, Roby Gerson</li>
							</ul>
							<h3>Ciclo:</h3>
							<p>6to</p>
							<h3>Curso:</h3>
							<p>Programación III</p>
						</div>
					</div>
					<div class="carousel-item">
						<div id="pagina2" class="paginas">
							<h2>Problemática</h2>
							<p>
								Desde el comienzo de la crisis sanitaria por el
								covid-19, los economistas han alertado que la
								pandemia afectaría a ambos lados de la economía,
								tanto la cadena de suministro como la demanda.
								<br />
								<br />
								El suministro de bienes y servicios se ve
								afectado porque las fábricas y las oficinas
								cierran y, como resultado, la producción cae.
								Hoy por hoy las empresas viendo este tiempo de
								coyuntura social cada vez es más difícil
								encontrar empleo, es por ello por lo que se le
								presenta dicha propuesta para así no poner en
								riesgo la salud de los postulantes para diversas
								áreas de la empresa.
							</p>
							<div class="img">
								<img src="assets/img/65.jpg" />
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div id="pagina3" class="paginas">
							<h2>Objetivos</h2>
							<ul>
								<li>
									Automatizar el proceso de selección de
									personal para diferentes áreas en la empresa
									Conéctate Bitel E.I.R.L.
								</li>
								<li>
									Facilitar la entrega de C.V. de posibles
									postulantes para diversas áreas de la
									empresa vía web.
								</li>
								<li>
									Verificar la condición psicológica del
									postulante por medio de un cuestionario
								</li>
							</ul>
							<h2>Alcance</h2>
							<ul>
								<li>
									Con la implementación de este aplicativo web
									para la automatización del proceso de
									reclutamiento de personal.
								</li>
								<li>
									Ayudará al público en general para poder
									postular a un trabajo (JOB) de manera
									virtual.
								</li>
								<li>
									Área de R.R.H.H. va a poder captar personal
									que cumpla con los perfiles solicitados por
									la empresa.
								</li>
							</ul>
						</div>
					</div>
					<div class="carousel-item">
						<div id="pagina4" class="paginas">
							<h2>No Alcance</h2>
							<p>
								Solo abarcara lo referente al módulo de RR. HH,
								por motivos de presupuesto y planificación no
								abarcara las demás áreas de la empresa tales
								como: Delivery, Ventas, Facturación, Atención al
								Cliente, PDV, etc.
							</p>
							<h2>Sobre el Sistema</h2>
							<p>
								El sistema contará con una gestión total de
								todos los módulos, así de poder revisar de
								manera efectiva a sus postulantes para mayor
								control y automatizará muchos procesos ya
								existentes por una aplicación mas segura y
								confiable.
							</p>
							<div class="img">
								<img src="assets/img/alcance.jpg" />
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div id="pagina5" class="paginas">
							<h2>Conclusiones</h2>
							<p>
								El primer paso fue establecer los requisitos que
								debía cumplir el sistema.

								<br />
								<br />
								En segundo lugar, se realizó los modelos
								oportunos en UML para que sirvieran de guía
								durante la implementación.
								<br />
								<br />
								Como se decidió utilizar la arquitectura de MVC, el diseño de los módulos que conforman la aplicación fue el siguiente paso.

								<br />
								<br />
								A continuación, llevamos a cabo la etapa a la
								que más tiempo dedicamos, la implementación del
								prototipo. En esta última etapa podría
								distinguir cuatro fases: la del diseño de la web
								(primera aproximación de la hoja de estilos), la
								de la implementación de la intranet del
								administrador, la de la implementación de la
								vista del usuario (postulante). Por último y
								para comprobar el correcto funcionamiento de
								todo el sistema, llevamos a cabo las pruebas de
								la aplicación.
							</p>
						</div>
					</div>
					<div class="carousel-item">
						<div
							id="pagina6"
							class="paginas d-flex align-items-center"
						>
							<h1 class="text-center col-12">Gracias</h1>
						</div>
					</div>
				</div>

				<!-- Left and right controls -->
				<a
					class="carousel-control-prev flecha"
					href="#demo"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a
					class="carousel-control-next flecha"
					href="#demo"
					data-slide="next"
				>
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</main>
	</body>
</html>
